{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title%}
login
{% endblock title%}
{% block body%}
<body class="bg-light">
    <div class="container w-35 mx-auto d-block text-center m-t-60 bg-white p-t-40 p-b-60 w-sm rounded border" >

        <p class="f-s-35 f-w-700"> Your post<span class="mycolor">it</span> password has changed</p>
        <p class="f-s-16">
        click continue to redirect to profile
    </p>
    
<form method="POST"  class="mx-auto d-block in-style">
    <div class="">
        {% csrf_token %}
        {{form|crispy}}
        {% comment %} <input type="text"for="username" class="form-control in-style mx-auto d-block  border-top-0 border-left-0 border-right-0 " id="username" placeholder="" name="username" required>
        <input type="password" for="password" class="form-control in-style mx-auto d-block m-t-30 border-top-0 border-left-0 border-right-0 " id="password" placeholder=""  name"password"required>  {% endcomment %}

    </div>
    
        <a class="btn my-btncolor in-style" type="submit" href="{% url 'profile'%}"> continue</a>
        <!-- Button trigger modal -->
            
            <!-- Modal -->
            {% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center m-t-40 bg-white  w-sm  p-b-80" >

                        <p class="f-s-35 f-w-700"> Check your Email</p>
                        <p class="f-s-16">
                            Click the link we sent to youremailaddress@gmail.com <br> to complete your account set-up.
                    </p>
                    
                   
                    <div class="m-t-30">
                        <a href="admin.html"><button class="btn my-btncolor in-style" type="submit"> continue</button></a>
                      
                    </div>
                </div>
                    
                </div>
                </div>
            </div> {% endcomment %}
            <style>

                .asteriskField{
                visibility: hidden;
                
                }
                label.requiredField{
                    margin-top:10px;
                    
                }
                small{
                    
                    display:none;
                }
                span{
                    padding-top:30px;
                }
                </style>
        
        
    </div>
    </div>
</form>
</body>
{% endblock body%}