{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title%}
login
{% endblock title%}
{% block body%}
<body class="bg-light">
    <div class="container w-35 mx-auto d-block text-center m-t-60 bg-white p-t-40 p-b-60 w-sm rounded border" >

        <p class="f-s-35 f-w-700"> forgot your post<span class="mycolor">it </span>password?</p>
        <p class="f-s-16">
        Enter your email an email will be sent to change password
    </p>
    
<form method="POST"  class="mx-auto d-block in-style">
    <div class="">
        {% csrf_token %}
        {{form|crispy}}
    </div>
    <div class="m-t-30">
        <input class="btn my-btncolor in-style" type="submit" >
            <style>

                .asteriskField{
                visibility: hidden;
                
                }
                label.requiredField{
                    margin-top:10px;
                    
                }
                small{
                    
                    display:none;
                }
                span{
                    padding-top:30px;
                }
                </style>
        
    </div>
    </div>
</form>
</body>
{% endblock body%}