{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title%}
login
{% endblock title%}
{% block body%}
<body class="bg-light">
    <div class="container w-35 mx-auto d-block text-center m-t-60 bg-white p-t-60 w-sm rounded border p-b-80" >

        <p class="f-s-35 f-w-700"> Don't forget this password</p>
        <p class="f-s-16">
            your password has been set you can login now<br>
             click continue to login
    </p>
    
<form method="POST"  class="mx-auto d-block in-style">
    <div class="">
        {% csrf_token %}
        {{form|crispy}}
        
    </div>
    
        <a class="btn my-btncolor in-style" type="submit" href="{% url 'login'%}"> continue</a>
       
            <style>

                .asteriskField{
                visibility: hidden;
                
                }
                label.requiredField{
                    margin-top:10px;
                    
                }
                small{
                    
                    display:none;
                }
                span{
                    padding-top:30px;
                }
                </style>
        
        
    </div>
    </div>
</form>
</body>
{% endblock body%}