{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title%}
login
{% endblock title%}
{% block body%}
<body class="bg-light">
    <div class="container w-35 mx-auto d-block text-center m-t-60 bg-white p-t-40 p-b-60 w-sm rounded border" >

        <p class="f-s-35 f-w-700"> Change your post<span class="mycolor">it</span> password</p>
        
    
<form method="POST"  class="mx-auto d-block in-style">
    <div class="">
        {% csrf_token %}
        {{form|crispy}}
        {% comment %} <input type="text"for="username" class="form-control in-style mx-auto d-block  border-top-0 border-left-0 border-right-0 " id="username" placeholder="" name="username" required>
        <input type="password" for="password" class="form-control in-style mx-auto d-block m-t-30 border-top-0 border-left-0 border-right-0 " id="password" placeholder=""  name"password"required>  {% endcomment %}

    </div>
    
        <button class="btn my-btncolor in-style m-t-30" type="submit"> change password</button>
        
            <style>

                .asteriskField{
                visibility: hidden;
                
                }
                label.requiredField{
                    margin-top:10px;
                    
                }
                small{
                    
                    display:none;
                }
                span{
                    padding-top:30px;
                }
                </style>
        
        
    </div>
    </div>
</form>
</body>
{% endblock body%}