{% extends 'base.html' %}
{% block title%}
index page
{% endblock title %}
{% block body%}
      <!-- begin navbar -->
  <nav class="navbar navbar-expand-lg nav-bg nav-height   " >
    <div class="container">
      <a class="navbar-brand" href="#"> <img src="img/Postit 1.png" alt="" width="98px" height="25px"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 f-s-24 px-2 ">
          <li class="nav-item ">
            <a class="nav-link active nav-color  p-r-30" aria-current="page" href="#">Story</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link nav-color  p-r-30" href="#">Contact</a>
          </li>

          <li class="nav-item ">
            <!-- <a class="nav-link nav-color p-r-30" href="login.html">Sign In</a> -->
            <a class="nav-link nav-color p-r-30" href="login.html">Sign In</a>
        
          </li>
          <!-- Button trigger modal -->
      
  

        </ul> 
        <form class="d-flex" role="search">
          
            <button class=" btn border-0 my-btncolor f-s-24 btn-size " type="submit">Get Started</button>
          </form>
      
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- begin hero -->
  <div class="container-fliud ">
    <div class="bg-me">
        <div class="container p-b-180">
            <div class="row p-t-133">
                <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right">
                    <p class="f-s-75 f-w-700 lh-me ">You've got a story, Post<span class="mycolor">it</span>.</p>
                    <p class="f-s-30">
                        Lorem ipsum dolor sit ameetur adipiscing elit. Coctetur
                        egestas massa velit aliquam. Molestim bibendum <br>
                        hnt ipsum orci, platea aliquam id ut. 
                        <div class="input-group mb-3 in-size m-t-50">
                            <input type="text" class="form-control" placeholder="Email address" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn my-btncolor btn-size" type="button" id="button-addon2">Get Started</button>
                          </div>

                    </p>
                </div>
                <div class="col-lg-6 col-md-0">
                    <img src="img/story.png" height="370px" width="auto">
                </div>
            </div>
        </div>

    </div>


  </div>
  <!-- end hero -->
  
  <div class="row m-t-20" data-aos="fade-left" data-aos-delay="300">
    <div class="col-12 ">
        <label for="tech" class="life text-center">Life Style</label>
    <p class="f-s-20 p-t-10">
        {{post.title}}
    </p> 
    <img src="img/nam.png" alt="" width="26px" height="26px">
    <span class="f-s-14 p-l-10"><span class="gray-text">By</span> {{post.user}} 
    <span class="gray-text">-{{post.created_date}}</span></span>
    </div>
    <div class="col-5">
        <img src="img/Rectangle 9 (1).png" alt="" class="pop"width="212px" height="123px">
    
    </div>
    <p class="gray-text f-s-18">
        {{post.text}}
    </p>
</div>
  <!-- begin footer -->
  <footer class=" container-fluid bg-foot m-t-50 text-white">
    <div class="container p-b-20">
        <div class="row gx-3">
            <div class="col-lg-4 col-sm-12 col-md-6">
                <p class="  f-s-20 f-w-700 p-t-30">Try Post<span class="mycolor">it</span>.</p>
                <p class="f-s-18 w-80">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Tincidunt id sem vel quis in turpis sit eget pellentesque. Nunc etiicies in rhoncus,
                    rhoncus in arcu. Tincidunt neque fusce vitaenisi aliquet. 
                    que maeae tortoere necsem commodo ac.
                </p>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-6">
                <p class="f-s-20 f-w-700 p-t-30">Quick menu</p>
              <div class="row">
                <div class="col-6">
                    <ul style="list-style-type:none;" type="">
                        <li>Home</li>
                        <li>Stories</li>
                        <li>Treding Stories</li>
                        <li>Popular Stories</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul style="list-style-type:none;" type="">
                        <li>Home</li>
                        <li>Stories</li>
                        <li>Treding Stories</li>
                        <li>Popular Stories</li>
                    </ul>
                </div>
              </div>
                
                
            </div>
            <div class="col-lg-4 col-sm-12 col-md-6">
                <p class="f-s-20 f-w-700 p-t-30">Subcribe to our newsletter</p>
                <div class="input-group mb-3  m-t-30 mx-auto p-b-100">
                    <input type="text" class="form-control" placeholder="Email address" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn my-btncolor btn-size" type="button" id="button-addon2">Subcribe</button>
                </input>
                  </div>

                
            </div>
        </div>
        <hr >
        <ul class="nav col-md-12 justify-content-end list-unstyled d-flex">
            <li> <a href="#" class="lit">Terms and Policy</a></li>
            <li class="ms-3"><a class="text-muted" href="#"><img src="img/twitter.png" alt="" width="18px" height="14px" /></a></li> </a></li>
            <li class="ms-3"><a class="text-muted" href="#"><img src="img/facebook.png" alt="" width="8px" height="14px"></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><img src="img/insta.png" alt="" width="14px" height="14px"></a></li>
          </ul>
    </div>
  </footer>
  <!-- end footer -->
{% endblock body%}