<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/helper.css'%}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400;900&family=Nunito:wght@300&family=Raleway:wght@300&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/f14903bc2c.js" crossorigin="anonymous"></script>
    
    <title>
        {% block title %}

        {% endblock title %}
    </title>
</head>

 {% if messages%}
    {% for message in messages%}
    <div class="alert {{ message.tags }} alert-dismissible fade show " role="alert" style="z-index:1080;">
      {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif%}
<body onload="myFunction()">
  
  
    {% block body%} 
   {% endblock body%}
 
 
   
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  

<script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  
  AOS.init({
    duration: 1200,
    easing: "ease-in-out",
    once: true,
    mirror: false 
  });
</script>

<script src="{% static 'js/main.js'%}"/>

</html>