{% extends 'base.html'%}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title%}
login
{% endblock title%}
{% block body%}
<body class="bg-light">
    <div class="spinner-border text-info" role="status" id="loade">
    
    </div>
    <section style="display:none;" id="myDiv">
        <div class="container w-35 mx-auto d-block text-center m-t-15 bg-white p-t-40 w-sm rounded border" data-aos=>

            <p class="f-s-35 f-w-700"> Welcome to post<span class="mycolor">it</span></p>
            <p class="f-s-16">
            Create an account with us
        </p>
        {% comment %} <label for="email" class="f-s-16 ">Email Address</label> {% endcomment %}
        <div class="mx-auto d-block">
<form class=" mx-auto d-block in-style" method="POST" >
        <style>
    
            .asteriskField{
            visibility: hidden;
            
            }
            label.requiredField{
                margin-top:5px;
                
            }
            small{
                
                display:none;
            }
            span{
                padding-top:30px;
            }
            </style>
            {% csrf_token %}  
            {{ form|crispy }}
            {% comment %} <input type="text" class="form-control in-style mx-auto d-block  border-top-0 border-left-0 border-right-0 " id="username" placeholder="" name="username" required>
            <input type="password" class="form-control in-style mx-auto d-block m-t-30 border-top-0 border-left-0 border-right-0 " id="password" placeholder=""  name"password"required> {% endcomment %}
        </div>
        <div class="m-t-30">
            <button class="btn my-btncolor in-style" type="submit"> continue</button>
            <!-- Button trigger modal -->    
                
                <!-- Modal -->
            <div class="row in-style mx-auto m-t-10 ">
                <div class="col-5 border-bottom  hi-10 ">
                    
                </div>
                <div class="col-2 p-t-10">
                <p class="p-t-8">or</p>   
                </div>
                <div class="col-5 border-bottom hi-10">
                
                </div>
            </div>
            {% comment %} <a href="{% provider_login_url 'github' %}" class="btn border in-style m-t-15"> <img src="img/go.png" alt=""> continue with Github</a> {% endcomment %}
            <a href="{% provider_login_url 'google' %}" class="btn border in-style m-t-15"><img src="https://img.icons8.com/color/344/google-logo.png" alt="" width="20px">  continue with Google</a>
            <p class="f-s-16 m-t-30 p-b-40">Got an account? <a href="{% url 'login' %}"><span class="mycolor">SignIn</span></a></p>   
        </div>
    </form>
        </div>
    </section>


    <script>
        var myVar;
        
        function myFunction() {
        myVar = setTimeout(showPage, 1000);
        }
        
        function showPage() {
        document.getElementById("loade").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
        }
</script>
<style>
        #loade{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 500;
        }
</style>
</body>
{% endblock body%}