{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title%}
login
{% endblock title%}
{% block body%}
<body class="bg-light">
    <div class="container w-35 mx-auto d-block text-center m-t-60 bg-white p-t-60 w-sm rounded border p-b-80" >

        <p class="f-s-35 f-w-700"> update post</p>
        <p class="f-s-16">
            Click the link we sent to {request.user.email} <br> to complete your account set-up.
    </p>
    {% block content %}


    
<form method="POST"  class="mx-auto d-block in-style">
    <div class="">
        {% if user.is_authenticated%}
        {% csrf_token %}
        {{form|crispy}}
        {% endif%}
        <button class="btn my-btncolor in-style m-t-30" type="submit" > make post</button>



        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>


        {% endblock %}
    </div>
            <style>

                .asteriskField{
                visibility: hidden;
                
                }
                label.requiredField{
                    margin-top:10px;
                    
                }
                small{
                    
                    display:none;
                }
                span{
                    padding-top:30px;
                }
                </style>
        
        
    </div>
    </div>
</form>
</body>
{% endblock body%}